@import "primeicons/primeicons.css";
@import "./app/styles/utility/backgrounds.css";
@import "./app/styles/components/card.css";
@import "./app/styles/components/table.css";
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
  margin: 0 !important;
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif */
}

* {
  font-family: "Montserrat"
}


*:focus {
  box-shadow: none !important;
}
